/* General Reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6 {
   line-height: 1.5;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* End General Reset */

/* General Settings */

@font-face {
  /* Example */ 
  font-family: Hanken;

  src:  url('assets/fonts/HankenGrotesk-VariableFont_wght.ttf'),
        url('assets/fonts/static/HankenGrotesk-Medium.ttf');
}

:root {
  /* Primary Colors */
  --primary: hsl(257, 40%, 49%);
  --secondary: hsl(300, 69%, 71%);

  /* Neutral Colors */
  --neutral-1: hsl(0, 0%, 100%);


  /* Fonts Family */
  --ff-header: 'Poppins';
  --ff-body: 'Open Sans';

  /* Fonts Weight */
  --fw-regular: 400;
  --fw-bold: 600;

  /* Font Size */
  --fs-body: 1rem;
}

/* End General Settings */

/* General Styling */

body {
  background: ;
  font-family: var(--ff-body);
  font-weight: var(--fw-regular);
  color: var(--neutral-1);
  font-size: 1rem;
}

/* End General Styling */

/* Utilities */

.grid-group {
  display: grid;
}

/* End Utilities */

/* Section Style */
.nav-menu {
  position: absolute;
  z-index: 99;
  padding: 2rem;
}

.logo {
  width: 125px;
}

section {
  --grid-gap: 0rem;
  --padding: 6rem 2.25rem 2rem 2.25rem;

  --hero-img-margin-top: 0.125rem;

  --hero-content-margin-top: 0.5rem;
  --hero-content-gap: 1.5rem;
  --hero-content-text-align: center;

  --hero-title-margin-top: 0.25rem;
  --hero-title-font-size: 1.45rem;

  --hero-description-margin-top: -0.5rem;
  --hero-description-font-size: 1rem;

  --button-width: 12.5rem;
  --button-margin: auto;
  --button-padding: 0.6rem;
  --button-font-size: 0.8rem;

  --hero-social-gap: 0.75rem;
  /* Hero Social Links (a) */
  --hero-social-height: 27.5px;
  --hero-social-width: 27.5px;
  --hero-social-font-size: 0.75rem;
  --hero-social-border: 1px;

  width: 100vw;
  height: 800px;
  margin: auto;
  padding: var(--padding);
  background: url('images/bg-mobile.svg'), 
              var(--primary);
    background-repeat: no-repeat;
    background-position: top;
    background-size: contain;
}

.container {
  max-width: 1300px;
  height: 100%;
  margin: auto;
  display: grid;
  gap: var(--grid-gap);
  place-items: center;

  position: relative;
}

.hero-img, .hero-content {
  max-width: 400px;
}

.hero-img {
  margin-top: var(--hero-img-margin-top);
}

.hero-content {
  margin-top: var(--hero-content-margin-top);
  gap: var(--hero-content-gap);

  text-align: var(--hero-content-text-align);
}

.hero-title {
  margin-top: var(--hero-title-margin-top);
  font-size: var(--hero-title-font-size);
  font-family: var(--ff-header);
}

.hero-description {
  margin-top: var(--hero-description-margin-top);
  font-size: var(--hero-description-font-size);
}

.button {
  cursor: pointer;
  width: var(--button-width);
  margin: var(--button-margin);
  padding: var(--button-padding);
  font-size: var(--button-font-size);
  color: var(--primary);

  border: none;
  border-radius: 50px;

  box-shadow: 0px 5px 20px 3px hsla(257, 40%, 39%,0.9);
}

.button:is(:hover, :focus) {
  background: var(--secondary);
  color: var(--neutral-1);
}

.hero-social {
  display: flex;
  gap: var(--hero-social-gap);
}

.hero-social a {
  height: var(--hero-social-height);
  width: var(--hero-social-width);
  font-size: var(--hero-social-font-size);

  border: var(--hero-social-border) solid var(--neutral-1);
  border-radius: 50px;

  text-decoration: none;

  display: grid;
  align-items: center;
  justify-content: center;
}

.hero-social a:is(:hover, :focus) {
  border-color: var(--secondary);
}


.fa-brands {
  color: var(--neutral-1);
}

.fa-brands:is(:hover, :focus) {
  color: var(--secondary);
}

@media screen and (min-width: 800px) {
  header {
    max-width: 1350px;
    margin: auto;
  }

  .logo {
   width: 200px; 
  }

  section {
    --grid-gap: 3rem;
    --padding: 6rem 2.25rem 2.5rem 2.25rem;

    --hero-img-margin-top: 0rem;

    --hero-content-margin-top: 0rem;
    --hero-content-gap: 2rem;
    --hero-content-text-align: left;

    --hero-title-margin-top: 0.25rem;
    --hero-title-font-size: 2.4rem;

    --hero-description-margin-top: -0.5rem;
    --hero-description-font-size: 1.20rem;

    --button-width: 12.5rem;
    --button-margin: 0;
    --button-padding: 1.1rem;
    --button-font-size: 1rem;

    --hero-social-gap: 0.75rem;
    /* Hero Social Links (a) */
    --hero-social-height: 40px;
    --hero-social-width: 40px;
    --hero-social-font-size: 1rem;
    --hero-social-border: 1px;

    padding: var(--padding);
    background: url('images/bg-desktop.svg'), 
              var(--primary);
      background-repeat: no-repeat;
  }

  .container {   
    grid-template-columns: 1fr 1fr;
    align-content: center;
  }

  .hero-img, .hero-content {
    max-width: 100%;
    margin: auto;
  }

  .hero-content {
    height: 100%;
    align-content: start;
  }

  .hero-description {
    padding-right: 2rem;
  }

  .hero-social {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
/* End Section Style */

/* Attribution Style */
.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}